/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
	
}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
	
}

/*(More than 992px)*/

@media (min-width: 992px) {
	
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
	.slick-prev,
	.slick-next {
		top: 50%;
		bottom: auto;
	}
	.slick-prev {
		left: -25px;
	}
	.slick-next {
		right: -25px;
	}
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
	header .navbar.navbar-light .navbar-nav .nav-item {
	    padding: 10px;
	}
	.banner {
		padding: 60px 0;
		height: auto;
	}
	.banner-title {
		font-size: 30px;
	}
	.banner-description {
		font-size: 16px;
	}
	.section-title {
    	font-size: 30px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	header .navbar.navbar-light {
		padding: 10px 15px;
	}
	header .navbar.navbar-light .navbar-collapse {
	    position: absolute;
	    top: 67px;
	    left: 0;
	    right: 0;
	    padding: 0 16px;
	    background: #fff;
	    box-shadow: 0px 6px 14px -6px rgba(0, 0, 0, 0.17);
	}	
	header .navbar.navbar-light .navbar-nav .nav-item {
	    padding: 8px 0;
	    font-size: 14px;
	}
	header .navbar.navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu, 
	header .navbar.navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu:hover, 
	header .navbar.navbar-light .navbar-nav .nav-item.dropdown .dropdown-menu:focus {
		display: none;
	}
	header .navbar.navbar-light .navbar-nav .nav-item.dropdown.show .dropdown-menu {
	    display: block;
	    opacity: 1;
	    visibility: visible;
	    border: 0;
	    box-shadow: none;
	    background-color: #333333;
	}
	header .navbar.navbar-light .navbar-nav .nav-item.dropdown.show .dropdown-menu a {
    	color: #fff;
	    font-size: 14px;
	}
	.img-logo {
		height: 50px;
	}
}